<div class="row" style="padding-top: 2%;">
    {{#if leaderboards}}
        <div class="row">
            <div class="col leaderboards-container">
                {{#each leaderboards}}
                    {{> _leaderboardCard}}
                {{/each}}
            </div>
        </div>
    {{else}}
        You don't have any leaderboards, <a href="/leaderboards/add">add</a> one!
        <!-- Feature Discovery Structure -->
        <div class="tap-target" data-target="add-btn">
            <div class="tap-target-content">
                <h5>Add a leaderboard here!</h5>
                <p>You can join an existing leaderboard, or create one of your own.</p>
            </div>
        </div>
    {{/if}}
</div>

<div class="fixed-action-btn" id="add-btn">
    <a class="btn-floating btn-large red" href="/leaderboards/add">
        <i class="large material-icons">add</i>
    </a>
</div>

<script>
    // Initialize tooltips
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.tooltipped');
        var instances = M.Tooltip.init(elems, null);

        M.AutoInit()

        {{#if leaderboards}}
        {{else}}
            $(document).ready(function(){
                $('.tap-target').tapTarget('open');
            });
        {{/if}}
    });
</script>